In [13]:
!pip install pandas

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/pablocastro/Library/Python/3.10/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (2022.7.1)
Requirement already satisfied: tzdata>=2022.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [14]:
import pandas as pd

In [15]:
df = pd.read_csv('data/topyoutube.csv')

In [16]:
df.head(5)

          Artist Total Views  100M     Avg
0            BTS    27,947.9  63.0   7.370
1      Bad Bunny    27,573.4  66.0  14.555
2  Justin Bieber    27,399.7  37.0   3.986
3     Ed Sheeran    26,894.0  39.0   4.609
4   Taylor Swift    24,350.0  38.0   5.716

In [17]:
# Tratar as colunas sem informação adicionando o texto “Não informado”
df.fillna('Não informado', inplace=True)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1587 entries, 0 to 1586
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Artist       1587 non-null   object
 1   Total Views  1587 non-null   object
 2   100M         1587 non-null   object
 3   Avg          1587 non-null   float64
dtypes: float64(1), object(3)
memory usage: 49.7+ KB

In [19]:
# Formatar a coluna de total de inscritos multiplicando por 100 milhões.

#primeiro limpando carcateres na coluna tipo string
df['Total Views'] = df['Total Views'].str.replace(',', '', regex=False)
df['Total Views'] = df['Total Views'].str.replace('.', '', regex=False)

#depois convertendo para float
df['Total Views'] = df['Total Views'].astype(float)

#efetivamente multiplicando conforme demanda
df['Total Views'] = df['Total Views'] * 100000000

In [20]:
# Formatar coluna “AVG” para 2 casas decimais depois da vírgula.
df['Avg'] = df['Avg'].round(2)

In [21]:
# Mostrar os top 10 Total Views.
top_10 = df.nlargest(10, 'Total Views')
top_10

          Artist   Total Views  100M    Avg
0            BTS  2.794790e+13  63.0   7.37
1      Bad Bunny  2.757340e+13  66.0  14.56
2  Justin Bieber  2.739970e+13  37.0   3.99
3     Ed Sheeran  2.689400e+13  39.0   4.61
4   Taylor Swift  2.435000e+13  38.0   5.72
5        Shakira  2.396180e+13  43.0   7.84
6     Katy Perry  2.355340e+13  25.0   3.18
7          Ozuna  2.252480e+13  49.0   4.93
8         Eminem  2.093770e+13  38.0   5.84
9  Ariana Grande  2.061850e+13  37.0   3.37

In [22]:
# Mostrar primeiros 100 artistas por nome decrescente
artist_100 = df.sort_values(by = 'Artist', ascending = False).head(100)
artist_100

             Artist   Total Views           100M   Avg
1374         Łobuzy  3.965000e+11            2.0  0.11
537     İrem Derici  1.717300e+12            3.0  0.32
634      Ñengo Flow  1.388800e+12            4.0  0.82
1032  Çağatay Akman  7.427000e+11            2.0  0.05
350       will.i.am  2.582000e+12            6.0  0.30
...             ...           ...            ...   ...
516      Via Vallen  1.787500e+12            3.0  0.08
1507   Veysel Mutlu  2.774000e+11            1.0  0.03
1358         Veysel  4.122000e+11  Não informado  0.06
891       Vengaboys  9.348000e+11            3.0  0.34
864       Vegedream  9.913000e+11            1.0  0.51

[100 rows x 4 columns]

In [23]:
df.to_csv('data/new_topyoutube.csv', sep=',', index=False, encoding='utf-8')